

body, html {
width: 100%;
height: 100%;
}

body {
    display: table;
}

body {
font-family: Cormorant,Helvetica Neue,Helvetica,Arial,sans-serif;
font-size: 24px;
line-height: 1.428571429;
color: #36413e;
background-color: #ededed;
}

body {
margin: 0%;
}

h1 {
    font-family:kaushan script;
    font-weight:bold;
    font-size:2em;
}

a {
    text-decoration: none;
    color:#F1160F;
}
a:hover{
    color:#BD2823;
}

.container {
    display: table-cell;
    text-align: center;
    vertical-align: middle; 

}

#social {
    font-size: 2.5em;
}


